<!DOCTYPE HTML>
<html>
    <head>
        <title>Account | Generic Quiz Game</title>
        <meta charset = "utf-8">
        <%- include partials/meta.ejs %>
    </head>
    <body>
        <header class = "background-primary">
            <nav>
                <a href = "/">
                    <h1>Generic Quiz Game</h1>
                </a>
                <div class = "links">
                    <a href = "/create-set"><i class = "material-icons">add</i>Create</a>
                    <a href = "/play"><i class = "material-icons">play_arrow</i>Join Game</a>
                </div>
                <div class = "profile" id = "profile-button">
                    <%=username%><i class = "material-icons">arrow_drop_down</i>
                </div>
                <div class = "dropdown" id = "profile-dropdown">
                    <a href = "/logout"><i class = "material-icons">input</i>Logout</a>
                </div>
            </nav>
            <img class = "pfp" src = "<%=pfp%>">
            <h1><%=username%></h1>
        </header>

        <main>
            <div class = "list-container">
                <div class = "sets list">
                    <h1>My Sets</h1>
                    <a href = "/create-set" class = "background-secondary icon-button"><i class = "material-icons">add</i></a>
                    <% for(let i = 0; i < sets.length; i++) { %>
                        <a href = "/show-set/<%-sets[i].set_id%>" class = "set">
                            <div class = "container">
                                <h2><%=sets[i].name%></h2>
                                <p>Created 2 days ago</p>
                            </div>
                        </a>
                    <% } %>
                </div>
                <div class = "friends list">
                    <h1>My Friends</h1>
                </div>
            </div>
        </main>
        <script>
            
        </script>
    </body>
</html> 